<%- include("partials/header.ejs") %>

<form id="create-form" action="/submit" method="POST">
  <div class="book-create">
    <label for="isbn">ISBN</label>
    <input type="text" name="isbn" id="isbn" />

    <label for="title">Title</label>
    <input type="text" name="title" id="title" maxlength="100" />

    <label for="author">Author</label>
    <input type="text" name="author" id="author" maxlength="100" />

    <label for="date_read">Date of Reading</label>
    <input type="date" name="date_read" id="date_read" />

    <label for="rating">Rating</label>
    <input type="number" name="rating" id="rating" max="10" min="1" />

    <label for="about">About</label>
    <textarea rows="5" name="about" id="about"></textarea>

    <label for="notes">Notes</label>
    <textarea rows="10" type="text" name="notes" id="notes"></textarea>
  </div>
  <button class="author-button" type="submit">
    <h2 class="btn">Submit</h2>
  </button>
</form>

<%- include("partials/footer.ejs") %>
