<h1>My books</h1>
<%- include("partials/header.ejs") %> <% books.forEach(item => { %>
<p><%= item.isbn %></p>
<img src="/book_images/<%= item.isbn %>.jpg" alt="Book cover" />

<% }); %> <%- include("partials/footer.ejs") %>
