h1 {
  font-family: "Yellowtail", cursive;
  font-size: 70px;
  color: #1c6758;
}

p {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}

.btn,
.descr {
  font-family: "Noto Serif", serif;
  text-decoration: none;
  font-weight: bolder;
  color: #1c6758;
  font-size: larger;
}

.title-author {
  font-family: "Noto Serif", serif;
  color: #1c6758;
  text-decoration: none;
}
