main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin: 10px;
}

h1 {
  font-family: "Yellowtail", cursive;
  font-size: 7rem;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 > a {
  text-decoration: none;
  color: #1c6758;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

p,
input,
textarea {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  margin: 0px;
}

hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #1c6758; /* old IE */
  background-color: #1c6758; /* Modern Browsers */
  width: 60px;
  margin: 0px;
}

input,
textarea {
  margin-bottom: 20px;
}

label,
.btn,
.descr {
  font-family: "Noto Serif", serif;
  text-decoration: none;
  font-weight: bolder;
  color: #1c6758;
  font-size: larger;
}

.title-author {
  font-family: "Noto Serif", serif;
  color: #1c6758;
  text-decoration: none;
}

.author-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.book {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 50px;
}

.book-properties {
  margin-top: 2rem;
  margin-bottom: 50px;
}

.book-properties p {
  margin: auto;
}

.book-create {
  display: flex;
  flex-direction: column;
}

.not-editable {
  background-color: #eef2e6;
}

#isbn,
#date_read,
#rating {
  width: 13rem;
}

#title,
#author {
  width: 20rem;
}
